# Spark API Mini Exercises

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(13)

#### 1. Spark Dataframe Basics

i. Use the starter code below to create a pandas dataframe (just run the cell):

In [ ]:
pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

iii. Show the first 3 rows of the dataframe.

iv. Show the first 7 rows of the dataframe.

v. View a summary of the data using `.describe()`.
> Note that `.describe` returns another dataframe, so we still have to do `.show()` at the end.

vi. Use `.select()` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

vii. Use `.select()` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.

viii. Use `.select()` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.

ix. Use `.select()` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

#### 2. Column Manipulation

i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named `df`

ii. Use `select()` to add 4 to the `n` column. Show the results.

iii. Subtract 5 from the `n` column and view the results.

iv. Multiply the `n` column by 2. View the results along with the original numbers.

v. Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

vi. Add a new column named `n3` that is the `n` value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

vii. What happens when you run the code below?

In [ ]:
df.group + df.abool

**A**: A Column object is produced that represents the transformation of adding together the `group` and `abool` columns.

viii. What happens when you run the code below? What is the difference between this and the previous code sample?

In [ ]:
df.select(df.group + df.abool)

An error is produced referencing the incompatible types. Unlike the previous code sample, this one is done within the context of a `.select`, so even though there are still no values produced (we haven't invoked an action yet), spark is aware that the types are incompatible.

ix. Try adding various other columns together. What are the results of combining the different data types?

#### 3. Type Casting

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Use `.printSchema()` to view the datatypes in your dataframe.

iii. Use `.dtypes` to view the datatypes in your dataframe.

iv. What is the difference between the two code samples below?

In [ ]:
df.abool.cast('int')

In [ ]:
df.select(df.abool.cast('int')).show()

**A:** One is a creating a Column and one is using that same column in a `.select()` in order to view the results of the cast.

v. Use `.select()` and `.cast()` to convert the abool column to an integer type. View the results.

vi. Convert the `group` column to a integer data type and view the results. What happens?

vii. Convert the `n` column to a integer data type and view the results. What happens?

viii. Convert the `abool` column to a string data type and view the results. What happens?

#### 4. Built-in Functions

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Import the necessary functions from `pyspark.sql.functions`

In [ ]:
from pyspark.sql.functions import min, max, mean, lit, concat

iii. Find the highest `n` value.

iv. Find the lowest `n` value.

v. Find the average `n` value.

vi. Use `concat()` to change the group column to say "Group: x" or "Group: y"

vii. Use `concat()` to combine the `n` and `group` columns to produce results that look like this: "x: -1.432" or "z: 2.352"

#### 5. When / Otherwise

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Use `when()` and `.otherwise()` to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.

iii. Create a column that contains 0 if n is less than 0, otherwise, the original `n` value.

#### 6. Filter / Where

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Use `.filter()` or `.where()` to select just the rows where the group is y and view the results.

iii. Select just the columns where the `abool` column is false and view the results.

iv. Find the columns where the group column is not y.

v. Find the columns where `n` is positive.

vi. Find the columns where `abool` is true and the group column is z.

vii. Find the columns where `abool` is true or the `group` column is z.

viii. Find the columns where `abool` is false and `n` is less than 1

ix. Find the columns where `abool` is false or `n` is less than 1

#### 7. Sorting

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Sort by the `n` value.

iii. Sort by the `group` value, both ascending and descending.

In [ ]:
from pyspark.sql.functions import asc, desc

iv. Sort by the `group` value first, then, within each group, sort by `n` value.

v. Sort by `abool`, `group`, and `n`. Does it matter in what order you specify the columns when sorting?

**A:** It does matter as it determines in what order they will be sorted. When the values for the first specified column are the same, the next specified column will determine sort order.

#### 8. Spark SQL

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. Turn your dataframe into a table that can be queried with spark SQL. Name the table `my_df`. Answer the rest of the questions in this section with a spark sql query (`spark.sql`) against `my_df`. After each step, view the first 7 records from the dataframe.

iii. Write a query that shows all of the columns from your dataframe.

iv. Write a query that shows just the `n` and `abool` columns from the dataframe.

v. Write a query that shows just the `n` and `group` columns. Rename the `group` column to `g`.

vi. Write a query that selects `n`, and creates two new columns: `n2`, the original `n` values halved, and `n3`: the original `n` values minus 1.

vii. What happens if you make a SQL syntax error in your query?

#### 9. Aggregating

i. Use the starter code above to re-create a spark dataframe named `df`.

ii. What is the average `n` value for each group in the `group` column?

iii. What is the maximum `n` value for each group in the `group` column?

iv. What is the minimum `n` value by `abool`?

v. What is the average `n` value for each unique combination of the `group` and `abool` column?